#container {
  width: 90%;
  margin: 0 5%;
}

nav {
  min-height: 50px;
  overflow: hidden;
  article {
    float: left;
    padding: 10px;
  }
  .search {
    width: 75%;
  }
  .your-account {
    width: 25%;
  }
}