
#container {
  .item {
    position: relative;
    width: 240px;
    float: left;
    margin: 5px;
    background-size: cover;
    background-color: $silver;
    box-shadow: 0 0 5px white;
    header {
        border: 5px solid $silver;
        border-bottom: none;
    }
    section {
      position: relative;
      width: 100%;
      overflow: hidden;
      background-color: $carrot;
      border: 5px solid $silver;
      }
      h1 {
        font-size: 20px;
        max-height: 35px;
        text-align: center;
        background-color: $clouds;
      }
      .price {
        width: 100%;
        min-height: 35px;
        float: left;
        text-align: center;
        font-size: 24px;
        padding: 2%;
        background-color: $midnightblue;
        color: $clouds;
      }
      .description {
        width: 100%;
        min-height: 70px;
        float: left;
        text-align: center;
        font-size: 14px;
        padding: 2%;
        text-align: left;
        background-color: $clouds;
        color: $midnightblue;
      }
      .all-tags {
        float: left;
        width: 100%;
        padding: 2%;
        min-height: 50px;
      }
      .buy-button {
        width: 60%;
        margin: 0 20%;
      }
    ul {
      width: 90%;
      margin: 0 5%;
        li {
          margin: 5px 4%;
          float: left;
          padding: 5px;
          background-color: $carrot;
          border-radius: 6px;
          box-shadow: 0px 0px 5px $wisteria;
          text-align: center;
        }
        li:hover {
          background-color: $wisteria;
          box-shadow: 0px 0px 5px $carrot;
          color: white;
        }
      }
    }

  /* temp */
  overflow: hidden;
}